<div class="wrap">
	<h1>UKM-materiell</h1>
	{% if site_type == "fylke" %}
		<h2>Bestill materiellpakke</h2>
		<p>
			<strong>Det er fylkeskontaktene som har ansvar for å bestille materiellpakker til alle sine lokalmønstringer.</strong>
		</p>
		<p>Frist for bestilling av materiellpakker i {{season}} er: {% if deadline == false %}ikke bestemt{% else %} {{deadline|dato('D d.m.Y')}} {% endif %}</p>
		
		{% if is_open %}
			<p><a href="?page=UKMmateriellpakke">Gå til materiellpakke-bestilling</a></p>
		{% elseif deadline != false %}
			<div class="alert alert-danger">
				<p>
					<strong>Skjemaet er lukket</strong>
					<br />
					Skjemaet er åpent mellom {{ start|dato('D d.m') }} og {{ stop|dato('D d.m') }}
				</p>
			</div>
		{% endif %}
	{% endif %}
	
	<h2>Tilpass / last ned materiell</h2>
	<p>UKM får snart ny grafisk profil. Designgeneratoren er derfor ikke tilgjengelig, men vi lover å få den tilbake så fort som mulig!</p>
{#	<h3>Plakater, facebook-grafikk, videoer, diplomer, program, logoer, ikoner osv</h3>
	<p>Vi har samlet alt UKM-materiellet på ett sted!</p>
	<p><a href="http://instrato.no/start/ukm-autologin.php?uid={{user_id}}&key={{user_key}}" target="_blank">Logg inn til instrato her</a></p>
	{% if eksternbruker is defined %}
	<h3>Åpen bruker</h3>
	<p class="lead">Har du eksterne personer som trenger tilgang til instrato? La de bruke denne brukeren:</p>
	<p>Brukernavn: {{eksternbruker.navn}}<br />Passord: {{eksternbruker.pass}}</p>
	<p>Innlogging for eksterne brukere skjer på: <a href="http://instrato.no" target="_blank">instrato.no</a></p>
	{% endif %}
#}	

	<h2>Kjøp UKM-artikler (webshop)</h2>
	<p>OBS: Du må selv opprette en egen bruker for å fullføre bestillingen i webshop (som tidligere). 
	Brukernavn og passord du har fått fra UKM Norge gjelder ikke i webshop.</p>
	<p><a href="http://ukm.adprofil.no" target="_blank">Gå til webshop</a></p>
</div>