<h2>Materiellpakke</h2>

<fieldset class="ukmwidth">
	<legend>Oppdateringstidspunkt fylker</legend>
	<p>Listen viser når fylkene sist lagret sin materiellbestillingen, og indikerer om noen ikke har oppdatert listen i år</p>
	
	{% if ant_ikke_oppdatert == 0 %}
	<div class="alert alert-success">
		<strong>Hurra!</strong>
		Alle fylker har oppdatert sin materiellbestilling i år!
	</div>
	{% else %}
	<div class="alert alert-error">
		<strong>
			OBS: {{ant_ikke_oppdatert}} fylker har ikke levert sin bestilling enda!
		</strong>
	</div>
	{% endif %}
	
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th width="150">Fylke</th>
				<th>Sist oppdatert</th>
				<th>Forsendingsmetode</th>
			</tr>
		</thead>
		{% for fylke in fylker %}
		<tr class="{{fylke.oppdatert ? '' : 'error'}}">
			<td>{{fylke.navn|capitalize}}</td>
			<td>{{fylke.tid|date('d.m.Y H:i')}}</td>
			<td>{% if fylke.hvordansendes == 'direktealle' %}
				Alle pakkene sendes direkte til kommunene
				{% else if fylke.hvordansendes == 'allesendes' %}
				Alle sendes til fylkesadressen med fylkespakken
				{% else %}
				Ukjent
				{% endif %}</td>
		</tr>
		{% endfor %}
	</table>
</fieldset>

<fieldset class="ukmwidth">
	<legend>Beskjed fra fylkeskontaktene</legend>
	<div class="alert alert-warning">
		<strong>OBS: </strong>
		Alle kommentarer ang ekstra pakker, ekstra diplomer, leveringsmåte osv er <strong>IKKE</strong>
		innregnet i behov / opplag fra systemet sin side.
	</div>

	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th width="150">Fylke</th>
				<th>Beskjed</th>
			</tr>
		</thead>
		{% for fylke in fylker if fylke.kommentarer is not empty %}
		<tr>
			<td>{{fylke.navn|capitalize}}</td>
			<td>{{fylke.kommentarer}}</td>
		</tr>
		{% endfor %}
	</table>
</fieldset>

<fieldset class="ukmwidth">
	<legend>Excel bestilling</legend>
	<p>Last ned pakkeliste / bestillingsskjema i excel-format</p>
	
	{% if ant_ikke_oppdatert != 0 %}
	<div class="alert alert-error">
		<strong>VENT LITT!</strong>
		Det er fortsatt {{ant_ikke_oppdatert}} fylker som ikke har levert sin bestilling.<br />
		Du kan trygt laste ned excel-dokumentet, men du bør ikke sende bestillingen til trykkeriet enda.
	</div>
	{% endif %}
	
	<div class="alert alert-warning">
		<strong>OBS: </strong>Husk at alle kommentarer fra fylkeskontaktene må legges manuelt til i bestillingen.<br />
		Dobbeltsjekk listen ovenfor før du sender bestillingen til trykkeriet
	</div>
	
	<a class="btn btn-primary" href="#"><i class="icon-download-alt icon-white"></i> Last ned</a>
	(sist oppdatert: {{excel.created|date('d.m.Y H:i')}})
</fieldset>